<section id="add" class="container">
  <div class="form-wrap">
    <h1>Add a gig</h1>
    <p>Your contact email will be shared with registered users to apply to your gig</p>
    {{#each errors}}
      <div class="error">
        <p>{{text}}</p>
      </div>
    {{/each}}

    <form action="/gigs/add" class="AVAST_PAM_signupform AVAST_PAM_loginform" id="gig-form" method="POST">
    <fieldset>
      <div class="form-group row">
        <label for="title" class="col-form-label">Gig Title:</label>
        <input type="text" name="title" id="title" class="form-control form-control-sm" placeholder="Small Wordpess Website, React Developer" maxlength="100" value={{title}}>
      </div>
      <div class="form-group row">
        <label for="technologies" class="col-form-label">Technologies Needed:</label>
        <input type="text" name="technologies" id="technologies" class="form-control form-control-sm" placeholder="javascript, php, python" maxlength="100" value={{technologies}}>
      </div>
      <div class="form-group row">
        <label for="budget" class="col-form-label">Budget (Leave blank for Unknown):</label>
        <input type="text" class="form-control form-control-sm" name="budget" id="budget" value={{budget}}>
      </div>
      <div class="form-group row">
        <label for="description" class="col-form-label">Gig Description:</label>
        <textarea cols="55" class="form-control form-control-sm" rows="5" name="description">{{description}}</textarea>
      </div>
      <div class="form-group row">
        <label for="contact_email" class="col-form-label">
          Contact Email:
        </label>
        <input type="email" class="form-control form-control-sm" name="contact_email" id="contact_email" placeholder="Enter an email">
      </div>
      <button>Add Gig</button>
      </fieldset>
    </form>
  </div>
</section>