  <h1>All gigs</h1>
<section id="gigs" class="container">

  {{#each gigs}}
  <div class="card border-light mb-3" style="max-width: 20rem;">
  <div class="card-header">{{title}}</div>
  <div class="card-body">
    <h4 class="card-title"></h4>
    <p class="card-text">{{description}}</p>
    <ul>
      <li class="list">Budget: {{budget}}</li>
      <li class="list"><a class="btn btn-primary btn-sm" href="mailto:{{contact_email}}">Apply Now</a></li>
    </ul>
    <small>
        Technologies Needed: <span class="tech">{{technologies}}</>
      </small>
  </div>
</div>

  {{else}}
  <p>No gigs available</p>
  {{/each}}
</section>